<?xml version="1.0"?>
<configuration>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
  <system.serviceModel>

    <services>
      <service name="Petio.RandomStory.RandomStoryService" behaviorConfiguration="RandomStoryServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/RandomStory"/>
            <add baseAddress="https://localhost/RandomStory"/>
            <add baseAddress="net.tcp://localhost/RandomStory"/>
          </baseAddresses>
        </host>
        <endpoint address="http://localhost/RandomStory/RandomStoryService.svc"
                  binding="basicHttpBinding"
                  bindingNamespace="http://petio.org/2011/06/24/IRandomStoryService"
                  contract="Petio.RandomStory.IRandomStoryService" />
        
        <endpoint address="https://localhost/RandomStory/RandomStoryService.svc"
                  binding="wsHttpBinding"
                  bindingNamespace="http://petio.org/2011/06/24/IRandomStoryService"
                  bindingConfiguration="TransportSecurity"
                  contract="Petio.RandomStory.IRandomStoryService" />
        <!--
        <endpoint address="net.tcp://localhost/RandomStory/RandomStoryService.svc"
                  binding="netTcpBinding"
                  name="netTcp"
                  contract="Petio.RandomStory.IRandomStoryService" />
        -->
        
        <endpoint address="mex"
                  binding="mexHttpsBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="RandomStoryServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <wsHttpBinding>
        <binding name="TransportSecurity">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>


  </system.serviceModel>
</configuration>